name: METAR Hourly Update

on:
  schedule:
    - cron: '0 * * * *'  
  workflow_dispatch:    

jobs:
  metar:
    runs-on: ubuntu-latest

    env:
      GH_PAT: ${{ secrets.GH_PAT }}  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run METAR script
        run: python metar.py

      - name: Commit and push changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add METAR/
          git commit -m "Actualización METAR automática" || echo "Sin cambios"
          git push https://$GH_PAT@github.com/Abdiel18pty/metar-automation.git main
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
